In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
=

In [3]:
# data

In [4]:
data.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
18350,25500,IN-2013-TB21595113-41320,2013-02-15,2013-02-20,Standard Class,TB-21595113,Troy Blackwell,Consumer,NaN,Singapore,...,TEC-AC-5888,Technology,Accessories,"SanDisk Numeric Keypad, Erganomic",170.5500,3,0.00,17.0100,14.460,Medium
45066,20874,ID-2014-MC176057-41887,2014-09-05,2014-09-10,Second Class,MC-176057,Matt Connell,Corporate,NaN,Brisbane,...,OFF-BI-6402,Office Supplies,Binders,"Wilson Jones Index Tab, Clear",15.9570,3,0.10,-1.1430,1.670,Medium
23778,24334,IN-2014-RB195707-41784,2014-05-25,2014-05-27,Second Class,RB-195707,Rob Beeghly,Consumer,NaN,Geelong,...,OFF-BI-6379,Office Supplies,Binders,"Wilson Jones Binder, Durable",52.2720,4,0.10,10.9920,9.080,Critical
22845,22774,ID-2012-MP1796559-40936,2012-01-28,2012-01-31,First Class,MP-1796559,Michael Paige,Corporate,NaN,Semarang,...,OFF-EN-3662,Office Supplies,Envelopes,"Cameo Interoffice Envelope, Security-Tint",132.0495,5,0.47,-5.0505,9.820,Medium
998,1408,MX-2014-SS2014018-41658,2014-01-19,2014-01-26,Standard Class,SS-2014018,Saphhira Shifley,Corporate,NaN,Araguaína,...,FUR-BO-3627,Furniture,Bookcases,"Bush Classic Bookcase, Traditional",2751.2000,10,0.00,110.0000,203.132,Medium

In [5]:
new_data = data[["Ship Mode", "Segment","Category","Sub-Category","Order Priority"]]
new_data
fit_data = new_data

In [6]:
ohe = OneHotEncoder()
feature_array = ohe.fit_transform(fit_data).toarray()
feature_array

array([[1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.]])

In [7]:
# import numpy as np
feature_label =  ohe.categories_
feature_label

[array(['First Class', 'Same Day', 'Second Class', 'Standard Class'],
       dtype=object),
 array(['Consumer', 'Corporate', 'Home Office'], dtype=object),
 array(['Furniture', 'Office Supplies', 'Technology'], dtype=object),
 array(['Accessories', 'Appliances', 'Art', 'Binders', 'Bookcases',
        'Chairs', 'Copiers', 'Envelopes', 'Fasteners', 'Furnishings',
        'Labels', 'Machines', 'Paper', 'Phones', 'Storage', 'Supplies',
        'Tables'], dtype=object),
 array(['Critical', 'High', 'Low', 'Medium'], dtype=object)]

In [8]:
feature_label  = [item for sub_label in feature_label for item in sub_label] 
print(feature_label)

['First Class', 'Same Day', 'Second Class', 'Standard Class', 'Consumer', 'Corporate', 'Home Office', 'Furniture', 'Office Supplies', 'Technology', 'Accessories', 'Appliances', 'Art', 'Binders', 'Bookcases', 'Chairs', 'Copiers', 'Envelopes', 'Fasteners', 'Furnishings', 'Labels', 'Machines', 'Paper', 'Phones', 'Storage', 'Supplies', 'Tables', 'Critical', 'High', 'Low', 'Medium']

In [5]:
# lists = ["aashish",["aashish","Patankar"]]
# for l in lists:
#     for i in l:
#         print(i)
#     print(l)

a
a
s
h
i
s
h
aashish
Patankar

In [10]:
new_df = pd.DataFrame(feature_array, columns = feature_label )
new_df

,First Class,Same Day,Second Class,Standard Class,Consumer,Corporate,Home Office,Furniture,Office Supplies,Technology,...,Machines,Paper,Phones,Storage,Supplies,Tables,Critical,High,Low,Medium
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
51286,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51287,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51288,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
51289,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
ohe_data = pd.concat([data, new_df], axis = 1)
ohe_data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Machines,Paper,Phones,Storage,Supplies,Tables,Critical,High,Low,Medium
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [12]:
ohe_data.drop(["Ship Mode", "Segment","Category","Sub-Category","Order Priority"],axis = 1, inplace = True)

In [13]:
ohe_data

,Row ID,Order ID,Order Date,Ship Date,Customer ID,Customer Name,Postal Code,City,State,Country,...,Machines,Paper,Phones,Storage,Supplies,Tables,Critical,High,Low,Medium
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,AB-100151402,Aaron Bergman,73120.0,Oklahoma City,Oklahoma,United States,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,JR-162107,Justin Ritter,NaN,Wollongong,New South Wales,Australia,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,CR-127307,Craig Reiter,NaN,Brisbane,Queensland,Australia,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,KM-1637548,Katherine Murray,NaN,Berlin,Berlin,Germany,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,RH-9495111,Rick Hansen,NaN,Dakar,Dakar,Senegal,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,KE-1642066,Katrina Edelman,NaN,Kure,Hiroshima,Japan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,ZD-219251408,Zuschuss Donatelli,37421.0,Chattanooga,Tennessee,United States,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,ZD-219251404,Zuschuss Donatelli,94109.0,San Francisco,California,United States,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,RB-1979518,Ross Baird,NaN,Valinhos,São Paulo,Brazil,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,MC-1810093,Mick Crebagga,NaN,Tipitapa,Managua,Nicaragua,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0