In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("C:/Users/patan/DS/Machine Learning/Dataset/customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df.shape

(50, 5)

In [5]:
X = df.drop("age",axis = 1)
y = df["age"]

In [11]:
y

0     30
1     68
2     70
3     72
4     16
5     31
6     18
7     60
8     65
9     74
10    98
11    74
12    51
13    57
14    15
15    75
16    59
17    22
18    19
19    97
20    57
21    32
22    18
23    96
24    16
25    57
26    53
27    69
28    48
29    83
30    73
31    22
32    92
33    89
34    86
35    74
36    34
37    94
38    45
39    76
40    39
41    23
42    30
43    27
44    77
45    61
46    64
47    38
48    39
49    25
Name: age, dtype: int64

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= 0.2 , shuffle= False)
X_train

    gender   review education purchased
0   Female  Average    School        No
1   Female     Poor        UG        No
2   Female     Good        PG        No
3   Female     Good        PG        No
4   Female  Average        UG        No
5   Female  Average    School       Yes
6     Male     Good    School        No
7   Female     Poor    School       Yes
8   Female  Average        UG        No
9     Male     Good        UG       Yes
10  Female     Good        UG       Yes
11    Male     Good        UG       Yes
12    Male     Poor    School        No
13  Female  Average    School        No
14    Male     Poor        PG       Yes
15    Male     Poor        UG        No
16    Male     Poor        UG       Yes
17  Female     Poor        UG       Yes
18    Male     Good    School        No
19    Male     Poor        PG       Yes
20  Female  Average    School       Yes
21    Male  Average        PG        No
22  Female     Poor        PG       Yes
23  Female     Good    School        No
24  Female  Average        PG       Yes
25  Female     Good    School        No
26  Female     Poor        PG        No
27  Female     Poor        PG        No
28    Male     Poor    School        No
29  Female  Average        UG       Yes
30    Male  Average        UG        No
31  Female     Poor    School       Yes
32    Male  Average        UG       Yes
33  Female     Good        PG       Yes
34    Male  Average    School        No
35    Male     Poor    School       Yes
36  Female     Good        UG       Yes
37    Male  Average        PG       Yes
38  Female     Good    School        No
39    Male     Poor        PG        No

In [7]:
print(X_train.shape)
type(X_train)

(40, 4)

pandas.core.frame.DataFrame

In [8]:
print(y_train.shape)
type(y_train)

(40,)

pandas.core.series.Series